*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 650px;
}

img {
    width: 300px;
    height: 387px;
    margin: 0 10px;
}

@media (max-width:768px){

    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 1875px;
    }
    
    img {
        width: 300px;
        height: 387px;
        margin: 0;
    }

}